<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <script src="/js/led/management.js" defer></script>
  <link rel="stylesheet" href="/css/led/management.css"> -->

  <title>WEB SERVER MAIN</title>
</head>
<body>
  <!-- 타이틀 -->
  <h1 class="title">WEB SERVER MAIN</h1>
  
  <!-- TEST -->
  <button>POST 요청 보내기</button>
</body>
</html>